# requirements.txt

streamlit
openai
pillow
requests
tweepy
atproto
python-dotenv
firebase-admin>=6.0.0
praw
openai>=1.3.0
moviepy==1.0.3
mutagen>=1.45.1
imageio-ffmpeg>=0.4.9
elevenlabs>=1.0.0
streamlit-image-coordinates
opencv-python-headless==4.8.1.78